mat-sidenav {
  width: 300px;
}

mat-sidenav-content {
  min-height: 100vh;
}

.content-container {
  margin-top: 70px;
  margin-left: 8px;
  margin-bottom: 8px;
  margin-right: 8px;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
}
